[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".pure-zsh-theme"]
	path = .pure-zsh-theme
	url = https://github.com/sindresorhus/pure.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
